---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v1/route?ambiguities=ignore&avoidTimedConditions=true&doReverseGeocode=false&routeType=multimodal&timeType=1&enhancedNarrative=true&shapeFormat=raw&generalize=0&unit=m&key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      last-modified:
      - Wed, 04 Apr 2012 21:01:37 GMT
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! '{"route":{"informationAreas":[]},"info":{"copyright":{"text":"© 2012
        MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2012 MapQuest, Inc."},"statuscode":403,"messages":["Please provide a \"key=\"
        Parameter to access this service. If you do not have a key, you can obtain
        a free key by registering at http://developer.mapquest.com."]}}'
  recorded_at: Wed, 04 Apr 2012 21:01:37 GMT
recorded_with: VCR 2.0.1
