/*------------*/

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro.eot');
  src: local('☺'), url("fonts/KievitWebPro.woff") format("woff"), url("fonts/KievitOT-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-Bold.eot');
  src: local('☺'), url("fonts/KievitWebPro-Bold.woff") format("woff"), url("fonts/KievitOT-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-BoldIta.eot');
  src: local('☺'), url("fonts/KievitWebPro-BoldIta.woff") format("woff"), url("fonts/KievitOT-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-Ita.eot');
  src: local('☺'), url("fonts/KievitWebPro-Ita.woff") format("woff"), url("fonts/KievitOT-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Mono';
  src: url('fonts/DejaVuSansMono.eot');
  src: local('☺'), url("fonts/DejaVuSansMono.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Mono';
  src: url('fonts/DejaVuSansMono-Oblique.eot');
  src: local('☺'), url("fonts/DejaVuSansMono-Oblique.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Iconic';
  src: url('fonts/iconic_stroke.eot');
  src: local('☺'), url("fonts/iconic_stroke.svg#iconic") format('svg'), url("fonts/iconic_stroke.otf") format('opentype');
}

/* ---------- */

html, body, #wrapper {
  margin: 0;
  height: 100%;
  font-size: 14px;
}

body, input, select, button {
  font-family: "Brighter Planet", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

body {
  overflow: hidden;
}

#wrapper {
  position: relative;
}

#wrapper.with_directions{
  height: 80%;
  border-bottom: 1px solid #eee;
}

h1 {
  position: absolute;
  width: 386px;
  height: 96px;
  background: url(images/hootroot.png) no-repeat -6px 0;
  top: 50%;
  left: 50%;
  margin: -98px 0 0 -193px;
  z-index: 10;
  text-indent: -9999px;
}

form {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 50%;
  margin: -20px 0 0;
}

form fieldset {
  width: 400px;
  margin: 0 auto;
  background: #eee;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
  padding: 0;
}

form fieldset legend {
  display: none;
}

form fieldset label {
  display: none;
}

form input {
  margin: 5px 0 5px 5px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 4px;
  width: 281px;
}

form#search input#destination {
  margin-top: 0;
}

form#search select {
  display: none;
}

form button {
  float: right;
  width: 100px;
  border: 0;
  border-top: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -moz-box-shadow: -1px 0 0 #ddd;
  position: relative;
  right: -1px;
  top: -1px;
  margin: 0 0 -3px;
  font-sizE: 15px;
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(221,221,221)),
      color-stop(1, rgb(200,200,200))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 0%,
      rgb(200,200,200) 100%
  );
  text-shadow: 0 1px 1px #eee;
  color: #333;
}

form#search button {
  height: 75px;
}

form#linkform button {
  height: 41px;
}

#about {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  z-index: 3;
}

#about .about {
  width: 398px;
  background: #e0e0e0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #ddd;
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 2px rgba(0,0,0,0.15);
  margin: 0 auto;
  cursor: pointer;
}

#about .about p {
  margin: 70px 10px 10px;
  font-size: 16px;
}

#about .about p a {
  color: blue;
}

#about .brighter_planet_cm1_badge {
  margin: 10px auto 0;
}

#meta {
  position: absolute;
  width: 400px;
  height: 2em;
  left: 50%;
  margin-left: -205px;
  top: 50%;
  margin-top: 60px;
  text-align: right;
  text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
  z-index: 1;
}

#meta a {
  color: blue;
}

#nav {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 0 0 50px;
  font-size: 13px;
  z-index: 3;
}

#nav h2 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 72px;
  height: 31px;
  background: url(images/hootroot-small.png) no-repeat 0 4px;
  text-indent: -9999px;
  margin: 0 0 0 -103px;
  border-right: 1px solid #bbb;
}

#nav ul {
  list-style: none;
  width: 176px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(221,221,221)),
      color-stop(1, rgb(200,200,200))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 0%,
      rgb(200,200,200) 100%
  );
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-left: 1px solid white;
  -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 0 rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.3);
  overflow: auto;
  margin: 0 auto;
}

#nav ul li {
  float: right;
  margin: 0;
  padding: 0;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #bbb;
  text-shadow: 0 1px 0 #eee;
  color: #666;
  width: 33px;
}

#nav ul li:hover {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(200,200,200)),
      color-stop(1, rgb(180,180,180))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(200,200,200) 0%,
      rgb(180,180,180) 100%
  );
  text-shadow: 0 1px 0 #ddd;
  color: #333;
}

#nav ul li:first-child {
  border-right: none;
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}

#nav ul li a {
  display: block;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  outline: none;
  outline: none;
  text-align: center;
}

#nav ul li a:before {
  font-family: "Iconic";
  font-size: 24px;
  line-height: 18px;
  position: relative;
  left: 1px;
}

#nav ul li#directions a:before { content: "."; }
#nav ul li#link a:before { content: "/"; }
#nav ul li#tweet a:before { content: "q"; }
#nav ul li#restart a:before { content: "["; }

#nav ul li a:hover:after {
  content: attr(title);
  position: absolute;
  top: 32px;
  width: 75px;
  margin: 0 0 0 -48px;
  padding: 5px 0;
  text-align: center;
  font-size: 13px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  background: #e0e0e0;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

#nav ul li#restart a:hover:after {
  margin: 0 0 0 -69px;
}

#nav ul li a span {
  display: none;
}

.route {
  display: none;
  position: absolute;
  width: 300px;
  top: 10px;
  left: 10px;
}

#modes {
  position: absolute;
  bottom: 0;
  width: 408px;
  left: 50%;
  margin: 0 0 0 -209px;
  padding: 5px 5px 0 5px;
  overflow: hidden;
}

#wrapper.with_directions #modes {
  bottom: -1px;
}

#modes ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(221,221,221)),
      color-stop(1, rgb(200,200,200))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 0%,
      rgb(200,200,200) 100%
  );
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-right: 1px solid rgba(0,0,0,0.3);
  -moz-box-shadow: -1px -1px 0 white, 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: -1px -1px 0 white, 0 0 5px rgba(0,0,0,0.3);
  box-shadow: -1px -1px 0 white, 0 0 5px rgba(0,0,0,0.3);
  overflow: auto;
}

#modes li {
  float: left;
  width: 100px;
  margin: 0;
  padding: 0;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #bbb;
  text-shadow: 0 1px 0 #eee;
  color: #444;
}

#modes li:hover {
  color: #222;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(220,220,220)),
      color-stop(1, rgb(190,190,190))
  );
}

#modes li.selected {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(200,200,200)),
      color-stop(1, rgb(180,180,180))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(200,200,200) 0%,
      rgb(180,180,180) 100%
  );
  color: #222;
  text-shadow: 0 1px 0 #ddd
}

#modes li:first-child {
  border-left: none;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}

#modes li:last-child {
  border-right: none;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

#modes li a {
  display: block;
  padding: 15px 5px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  outline: none;
}

#modes li.loading a {
  background: url(images/loading.gif) no-repeat 78px 5px;
}

#modes li span {
  display: block;
}

#modes li span.footprint {
  font-size: 12px;
}

#modes li span.footprint:after {
  content: " kg CO₂";
}

#hopstop {
  position: absolute;
  bottom: 0;
  width: 330px;
  height: 60px;
  left: 50%;
  background: url(images/hopstop.png) no-repeat 210px 50%;
}

#brighter_planet {
  width: 250px;
  position: absolute;
  bottom: 5px;
  left: 70px;
  text-transform: uppercase;
  font-size: 11px;
  background: url(images/radiant_earth.png) no-repeat 0 50%;
  padding: 0 0 0 30px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  opacity: 0.95;
}

#brighter_planet a {
  display: block;
  font-size: 13px;
  color: inherit;
}

#routing {
  width: 100%;
  height: 20%;
  background: rgb(180,180,180);
  position: absolute;
  bottom: -1px;
  left: 0;
}

#routing ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
}

#routing ul li {
  display: inline-block;
  width: 160px;
  height: 100%;
  position: relative;
  border-right: 1px solid gray;
  padding: 0 20px;
  white-space: normal;
  margin: 20px 0 0;
  vertical-align: top;
}

#routing ul li:last-child {
  border: none;
}

#routing ul li p {
  margin: 0;
}

#routing ul li p.emissions {
  position: absolute;
  bottom: 20px;
  margin: 0 0 20px;
}
